@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.margin{
    margin: 15%;
}
 /* 1st start  */
.first_part{
    height: 711px;
    background: #FFF2F3;
}
.navbar ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.navbar ul li{
    display: inline-flex;
}
.navbar ul li a{
    display: block;
    color: #737373;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 0.2px; 
    font-size: 14px;   
}
.btn{
    width: 100px;
    height: 50px;
    border: 1px solid#96BB7C;
    background: #FFF2F3;
    color: #96BB7C;
    border-radius: 5px;
}
.navbar ul .btn1{
    width: 100px;
    height: 50px;
    border: 1px solid#96BB7C;
    background: #FFF2F3;
    color: #96BB7C;
    border-radius: 5px;
}

.btn:hover{
    background: #96BB7C;
    border-radius: 5px;
    color: white;
}
.navbar ul .btn1:hover{
    background: #96BB7C;
    color: white;
    border-radius: 5px;
}
.Text{
    position: absolute;
    width: 473px;
    height: 386px;
    left: calc(50% - 573px/2 - 301px);
    top: 148px;
}
.cover{
    position: absolute;
    left: 835px;
    top: 50px;
    bottom: 0px;
}
/* 1st end */

/* 2nd start */
.Second_part{
    height: 671px;
    position: relative;
    border: 1px solid white;
}
.Text1{
    position: absolute;
    width: 470px;
    height: 200px; 
}
.Red_border{
    width: 80px;
    height: 5px;
    border: 1px solid #E74040;
    background-color: #E74040;
}
.card{
    position: absolute;
    width: 600px;
    height: 350px;
    background: #FFFFFF;
    margin: 5px 5px 5px 5px;
    left: 700px;
    display: flex;
}
.card_content{
    position: relative;
    width: 270px;
    height: 292px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin: 20px;
}
.image{
    position: absolute;
    width: 45px;
    height: 50px;
    border-radius: 5px;
    top: 30px;
    left: 40px;
    background-color: #96BB7C;   
}
.Des1{
    position: absolute;
    top: 80px;
    left: 40px;
}
.icon{
    padding: 15px;
    color: #FFFFFF;
    
}
.Red_border1{
    font-family: 'Montserrat', sans-serif;
    width: 50px;
    height: 2px;
    border: 1px solid #E74040;
    background-color: #E74040;
}
/* 2nd end */

/* 3rd start */
.Third_part{
    height: 817px;
    position: relative;
    display: flex;
    border: 1px solid white;
}
.Image1{
    position: absolute;
    left: 9.81%;
    right: 0%;
    top: 10%;
    bottom: 0%
}
.Text2{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 900px;
}
.Red_border2{
    width: 50px;
    height: 2px;
    border: 1px solid #E74040;
    background-color: #E74040;
}
/* 3rd end */

/* 4th start */
.Fourth_part{
    height: 952px;
    position: relative;
    border: 1px solid white;
}
.Text4{
    position: absolute;
    top:120px;
    width: 500px;
}
.card1{
    position: absolute;
    top:420px;
    display: flex;
}
.card_content1{
    float: left;
    display: flex;
    width: 600px;
}
.image2{
    position: relative;
}
.sale{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 50px;
    height: 20px;
    background-color: red;
    border-radius: 2px;
    text-align: center;
}
.circle{
    position: absolute;
    top: 340px;
    left: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
.circle1{
    position: absolute;
    top: 340px;
    left: 80px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
.circle2{
    position: absolute;
    top: 340px;
    left: 130px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
#a{
    padding: 12px;
}
.Des2{
    position: relative;
    margin: 40px;
}
.point{
    position: absolute;
    left: 250px;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #2D4059;
}
/* 4th end */

/* 5th start */
.Fifth_part{
    height: 875px;
    position: relative;
    border: 1px solid white;
}
.Text5{
    position: absolute;
    top:120px;
    width: 500px;
}
.card2{
    position: absolute;
    top:400px;
    display: flex;
}
.card_content2{
    float: left;
    display: flex;
    width: 508px;
    height: 378px;
    margin: 30px;
}
.image3{
    position: relative;
    height: 130px;
    left: 180px;
    top: 30px;
}
.Des3{
    position: absolute;
    width: 450px;
    height: 150px;
    top: 180px;
    text-align: center;
    padding: 30px;
}
/* 5th end */

/* 6th start */
.Sixth_part{
    height: 850px;
    position: relative;
    border: 1px solid white;
    
}
.Text6{
    position: absolute;
    top:70px;
    width: 500px;
}
.card3{
    position: absolute;
    top:350px;
}
.card_content3{
    float: left;
    display: flex;
    width: 238px;
    height: 375px;
    margin:0px 20px 0px 0px; 
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07); 
}
.image4{
    position: relative;
    height: 195px;  
}
.Des4{
    position: absolute;
    width: 238px;
    top: 180px;
    padding: 50px;    
}
/* 6th end */

/* 7th start */
.Seventh_part{
    height: 600px;
    position: relative;
    background: #FFF2F3;
    border: 1px solid white;
}
.Text7{
    position: absolute;
    width: 500px;
    left: 470px;
    text-align: center;
    top: 140px;
}
.form{
    position: absolute;
    top: 400px;
    left: 450px;
}
/* 7th end  */

/* footer start */
.footer_1{
    height: 200px;
    margin: 0px 15% 0px 15% ;
}
.footer_2{
    display: flex;
    position: relative;
    height: 80px;
    margin:  0px 15% 0px 15%;
    justify-content: space-between;
}
/* .footer_text{
    position: absolute;
    left: 180px;
}
.footer-icon{
    position: absolute;
    left: 1050px;
}  */

/* footer end */
